.container {
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    /*justify-content: center; !* Center children vertically *!*/
    background-color: #333; /* Dark grey background */
    color: white; /* White text color */
    margin: 0;
    padding: 0;
    border-radius: 8px; /* Rounded corners */
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
}

.title {
    color: white; /* White color for the title */
}

.button {
    background-color: black; /* Black background for the button */
    color: white; /* White text color for the button */
    padding: 12px 40px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners for the button */
    cursor: pointer; /* Pointer cursor on hover */
}

.button:hover {
    background-color: #181818; /* Slightly lighter black on hover */
}
